<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A certain supermarket</title>
    <script type="application/javascript">
        function submit_(func) {
            let httpRequest = new XMLHttpRequest();
            httpRequest.open('GET', 'submit?code='+document.getElementById('redeem_code').value, true);
            httpRequest.send();
            httpRequest.onreadystatechange = function (request) {
                if (httpRequest.readyState === 4 && httpRequest.status === 200) {
                    document.getElementById('redeem').setAttribute('disabled', 'disabled');
                    let json = JSON.parse(httpRequest.responseText);
                    document.getElementById('result').innerHTML = `This code worth ${json['points']} points`
                }
            };
        }
        function reset_(){
            document.getElementById('redeem_code').value = '';
            document.getElementById('redeem').setAttribute('disabled', '');
            document.getElementById('redeem').toggleAttribute('disabled');
            document.getElementById('result').innerHTML = '';
        }
    </script>
</head>
<body>
    <h1>A certain supermarket</h1>
    <span>Please input redeem code: </span>
    <input type="text" id="redeem_code" name="redeem_code">
    <button id="redeem" onclick="submit_()">Redeem</button>
    <span id="result"></span>
    <button onclick="reset_()">Reset</button>
</body>
</html>